#!/usr/bin/make -f
#=============================================================================
#  Geo2tag LBS Platform - high performance geo-tagging middleware
#
#  (c) FRUCT, OSLL 2010-2013
#=============================================================================

export MAKEFLAGS+="-j5"

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

 %:
	dh $@


